<div class='container'>
  <div class='row'>
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info',user: @book_show.user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book_new %>
    </div>
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<table class='table'>
  		  <tr>
          <td><%= link_to(@book_show.user) do %>
            <%= image_tag @book_show.user.get_profile_image, size:"100x100" %><br>
            <%= @book_show.user.name %>
            <% end %>
          </td>
          <td><%= link_to @book_show.title, @book_show %></td>
          <td><%= @book_show.body %></td>
          <td>
            <% if @book_show.favorited_by?(current_user) %>
              <%= link_to book_favorites_path(@book_show), method: :delete do %>
                ♥<%= @book_show.favorites.count %>
              <% end %>
            <% else %>
              <%= link_to book_favorites_path(@book_show), method: :post do %>
                ♡<%= @book_show.favorites.count %>
              <% end %>
            <% end %>
          </td>
        <% if @book_show.user_id == current_user.id %>
          <td><%= link_to 'Edit', edit_book_path(@book_show), class: "btn btn-sm btn-success" %></td>
          <td><%= link_to 'Destroy', @book_show, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
        <% end %>
          <td>コメント数:<%= @book_show.comments.count %></td>
        </tr>
      </table>
      <div>
      <%= form_with model: @comment,url: book_comments_path(@book_show.id,@comment.id) do |f| %>
      <%#= form_with model:[@book_show,@comment] do |f| %>
       <div><%= f.text_area :comment, rows:"5" %></div>
       <%= f.submit "送信" %>
      <% end %>
      </div>
    </div>
  </div>
</div>